pkgbase = micromamba
	pkgdesc = The fast cross-platform package manager
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/mamba-org/mamba
	arch = i686
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cli11
	makedepends = spdlog
	makedepends = tl-expected
	makedepends = nlohmann-json
	makedepends = cmake
	makedepends = pybind11
	depends = python
	depends = fmt
	depends = libsolv
	depends = reproc
	depends = yaml-cpp
	depends = simdjson
	provides = libmamba=2.1.1
	provides = python-libmambapy=2.1.1
	conflicts = micromamba-bin
	source = micromamba-2.1.1.tar.gz::https://github.com/mamba-org/mamba/archive/2.1.1.tar.gz
	sha512sums = 99777c9711af0f36731aa3be9fd89cd730ab1878d4c9485fb0d5d39464ee13e29d6e8a5f4ecb4cbb0149c9a2962d91cb212e9a052536283b46a9e1776ed6899f

pkgname = micromamba
