pkgbase = micromamba
	pkgdesc = The fast cross-platform package manager
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/mamba-org/mamba
	arch = i686
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cli11
	makedepends = spdlog
	makedepends = tl-expected
	makedepends = nlohmann-json
	makedepends = cmake
	makedepends = pybind11
	depends = python
	depends = fmt
	depends = libsolv
	depends = reproc
	depends = yaml-cpp
	depends = simdjson
	provides = libmamba=2.1.0
	provides = python-libmambapy=2.1.0
	conflicts = micromamba-bin
	source = micromamba-2.1.0.tar.gz::https://github.com/mamba-org/mamba/archive/2.1.0.tar.gz
	sha512sums = ba8ee8fee6cd698775ced7b9893eb3d49192241e4da84f31a6fe92a85b31508b4e6c910ab45049a540b6bd4a371b8e799745bc51bdc2ec7db0e7ef0e83dd47ce

pkgname = micromamba
