pkgbase = micromamba
	pkgdesc = The fast cross-platform package manager
	pkgver = 2.0.8
	pkgrel = 1
	url = https://github.com/mamba-org/mamba
	arch = i686
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cli11
	makedepends = spdlog
	makedepends = tl-expected
	makedepends = nlohmann-json
	makedepends = cmake
	makedepends = pybind11
	depends = python
	depends = fmt
	depends = libsolv
	depends = reproc
	depends = yaml-cpp
	depends = simdjson
	provides = libmamba=2.0.8
	provides = python-libmambapy=2.0.8
	conflicts = micromamba-bin
	source = micromamba-2.0.8.tar.gz::https://github.com/mamba-org/mamba/archive/2.0.8.tar.gz
	sha512sums = 88cb599a431f0859b2a60178f2b0c97291f9b6922c2bd720d2fcf723f20352ade2bc96c49ba108d29e541750e3729bf1acf7524e0c3d8679f56b07d9f58ffe43

pkgname = micromamba
